@{
  Layout = "_Layout";
}

@using VendorOrder.Models;

<h3>Here are all the orders for this vendor:</h3>


<ol>
@foreach (Order order in @Model["order"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor page</a></p>
<p><a href='/'>Return Home</a></p> 